<div class="container">
    <div class="row title">
        <div class="col-md-6 col-md-offset-3">
            <form ng-submit="postTask(task)">
                <input type="text" class="form-control" ng-model="task.title" required="" placeholder="Task title"/><br/>
                <textarea class="form-control" ng-model="task.description" required="" placeholder="Describe what you need done"/></br>
                <input type="number" ng-model="task.total" class="form-control" required="" placeholder="How much will you pay?"/>
                <button type="submit" class="btn btn-danger">POST</button>
            </form>
        </div>
    </div>
</div>